*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 0px;
  box-sizing: border-box; }

#main {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); }
  #main #menu {
    color: #fff;
    padding-top: 36px;
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase; }
    #main #menu h3 {
      font-weight: bold;
      font-size: 14px; }
    #main #menu ul {
      display: flex;
      list-style: none; }
      #main #menu ul li {
        padding-right: 36px; }
      #main #menu ul a {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        font-size: 12px; }
  #main #hero {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 64px auto;
    text-align: center;
    color: #fff; }
    #main #hero h1 {
      font-size: 35px;
      line-height: 42px; }
    #main #hero p {
      font-size: 16px;
      margin: 24px 0; }
    #main #hero button {
      width: 180px;
      align-self: center;
      padding: 12px;
      background-color: #ffc10d;
      border-radius: 16px;
      border: none;
      color: #333;
      margin-bottom: 100px;
      -webkit-box-shadow: 4px 7px 22px -13px rgba(0, 0, 0, 0.61);
      -moz-box-shadow: 4px 7px 22px -13px rgba(0, 0, 0, 0.61);
      box-shadow: 4px 7px 22px -13px rgba(0, 0, 0, 0.61); }

#services {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #services .cards {
    display: flex; }
    #services .cards .service {
      max-width: 264px;
      text-align: center; }
      #services .cards .service i {
        color: #330033;
        font-size: 60px; }
      #services .cards .service h2 {
        text-transform: uppercase;
        color: #330033;
        font-size: 16px;
        padding: 12px; }
      #services .cards .service p {
        font-size: 14px; }
      #services .cards .service + div {
        margin-left: 15px; }
  #services a {
    margin-top: 36px;
    width: 120px;
    align-self: center;
    padding: 12px;
    background-color: transparent;
    border-radius: 16px;
    border: solid 1px #330033;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #330033;
    text-transform: uppercase; }

.divider {
  height: 0.6px;
  width: 100%;
  background-color: #ccc; }

#portfolio .container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  #portfolio .container h2 {
    text-transform: uppercase;
    color: #999;
    margin: 36px 0;
    letter-spacing: 5px;
    text-align: center; }
  #portfolio .container .item {
    display: flex; }
    #portfolio .container .item img {
      height: 260px;
      width: 100%;
      display: block; }
    #portfolio .container .item .about {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #portfolio .container .item .about h3 {
        font-size: 24px; }
      #portfolio .container .item .about p {
        color: #888;
        font-size: 14px; }
      #portfolio .container .item .about .buttons a {
        padding: 12px 28px;
        background-color: transparent;
        border-radius: 16px;
        border: solid 1px #330033;
        text-decoration: none;
        font-size: 12px;
        color: #330033;
        text-transform: uppercase; }
      #portfolio .container .item .about .buttons .filled {
        background-color: #330033;
        color: #fff; }
      #portfolio .container .item .about .buttons > a {
        margin-right: 10px; }

#portfolio hr {
  background-color: #ccc;
  margin: 96px 0; }

#contact {
  margin-top: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #330033;
  color: #fff; }
  #contact .container {
    margin: 0 auto;
    width: 960px; }
    #contact .container h1 {
      font-weight: 500;
      font-size: 28px;
      max-width: 360px;
      line-height: 32px; }
      #contact .container h1::after {
        content: "";
        margin: 5px;
        width: 206px;
        height: 2px;
        background-color: #ffc10d;
        display: block; }
    #contact .container p {
      margin-top: 16px;
      font-size: 18px; }
    #contact .container form {
      display: flex;
      flex-direction: column; }
      #contact .container form input, #contact .container form textarea {
        padding: 16px 0px;
        margin: 16px 0px;
        outline: none;
        border: none;
        background-color: transparent;
        border-bottom: solid 2px #fff;
        color: #fff;
        font-size: 24px; }
        #contact .container form input::placeholder, #contact .container form textarea::placeholder {
          color: #fff;
          font-size: 24px;
          text-transform: capitalize; }
        #contact .container form input:focus, #contact .container form textarea:focus {
          border-color: #ffc10d; }
      #contact .container form button {
        margin: 0 auto;
        margin-top: 16px;
        cursor: pointer;
        display: block;
        width: 180px;
        text-align: center;
        padding: 12px;
        background-color: #ffc10d;
        border-radius: 16px;
        border: none;
        color: #333;
        -webkit-box-shadow: 4px 7px 22px -13px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: 4px 7px 22px -13px rgba(0, 0, 0, 0.61);
        box-shadow: 4px 7px 22px -13px rgba(0, 0, 0, 0.61); }
