#services {
  width: 1080px;
  margin: 64px auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  .cards {
    display: flex;

    .service {
      max-width: 264px;
      text-align: center;

      & + div {
        margin-left: 98px;
      }
      i {
        color: #330033;
        font-size: 60px;
      }
      h2 {
        text-transform: uppercase;
        color: #330033;
        font-size: 18px;
        padding: 12px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  a {
    margin-top: 36px;
    width: 160px;
    align-self: center;
    padding: 12px;
    background-color: transparent;
    border-radius: 16px;
    border: solid 1px #330033;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #330033;
    text-transform: uppercase;
  }
}